<a href="https://colab.research.google.com/github/MohammedEsamaldin/week1_10academy/blob/main/notebook/User_Engagement_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
from IPython.display import Image
import matplotlib.pyplot as plt

In [48]:
db = pd.read_csv('/content/drive/MyDrive/Week-1/data/Week1_challenge_data_source(CSV).csv',  na_values=['?', None])
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [49]:
def fix_missing_mode(df, col):
    df[col] = df[col].fillna(df[col].mode()[0])
    return df[col]

In [50]:
list_col = ['Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B']
for i in list_col:
    fix_missing_mode(db, i)

db.isnull().sum()

Bearer Id                                   991
Start                                         1
Start ms                                      1
End                                           1
End ms                                        1
Dur. (ms)                                     0
IMSI                                          0
MSISDN/Number                                 0
IMEI                                          0
Last Location Name                            0
Avg RTT DL (ms)                               0
Avg RTT UL (ms)                               0
Avg Bearer TP DL (kbps)                       0
Avg Bearer TP UL (kbps)                       0
TCP DL Retrans. Vol (Bytes)                   0
TCP UL Retrans. Vol (Bytes)                   0
DL TP < 50 Kbps (%)                           0
50 Kbps < DL TP < 250 Kbps (%)                0
250 Kbps < DL TP < 1 Mbps (%)                 0
DL TP > 1 Mbps (%)                            0
UL TP < 10 Kbps (%)                           0
10 Kbps < UL TP < 50 Kbps (%)                 0
50 Kbps < UL TP < 300 Kbps (%)                0
UL TP > 300 Kbps (%)                          0
HTTP DL (Bytes)                               0
HTTP UL (Bytes)                               0
Activity Duration DL (ms)                     0
Activity Duration UL (ms)                     0
Dur. (ms).1                                   0
Handset Manufacturer                          0
Handset Type                                  0
Nb of sec with 125000B < Vol DL               0
Nb of sec with 1250B < Vol UL < 6250B         0
Nb of sec with 31250B < Vol DL < 125000B      0
Nb of sec with 37500B < Vol UL                0
Nb of sec with 6250B < Vol DL < 31250B        0
Nb of sec with 6250B < Vol UL < 37500B        0
Nb of sec with Vol DL < 6250B                 0
Nb of sec with Vol UL < 1250B                 0
Social Media DL (Bytes)                       0
Social Media UL (Bytes)                       0
Google DL (Bytes)                             0
Google UL (Bytes)                             0
Email DL (Bytes)                              0
Email UL (Bytes)                              0
Youtube DL (Bytes)                            0
Youtube UL (Bytes)                            0
Netflix DL (Bytes)                            0
Netflix UL (Bytes)                            0
Gaming DL (Bytes)                             0
Gaming UL (Bytes)                             0
Other DL (Bytes)                              0
Other UL (Bytes)                              0
Total UL (Bytes)                              1
Total DL (Bytes)                              1
dtype: int64

In [51]:
db = db.dropna()

In [52]:
df = db
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [53]:
df['total DL/UL traffic']= df['Total DL (Bytes)']+df['Total UL (Bytes)']
df['total DL/UL traffic'].head(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Series([], Name: total DL/UL traffic, dtype: float64)

In [54]:
df['Handset Type'].value_counts().head(10)

Huawei B528S-23A                19763
Apple iPhone 6S (A1688)          9401
Apple iPhone 6 (A1586)           9004
undefined                        8960
Apple iPhone 7 (A1778)           6301
Apple iPhone Se (A1723)          5176
Apple iPhone 8 (A1905)           4985
Apple iPhone Xr (A2105)          4562
Samsung Galaxy S8 (Sm-G950F)     4504
Apple iPhone X (A1901)           3809
Name: Handset Type, dtype: int64

In [55]:
top_handset_manu = df['Handset Manufacturer'].value_counts().head(3)
top_handset_manu

Apple      59451
Samsung    40689
Huawei     34353
Name: Handset Manufacturer, dtype: int64

In [67]:
top_handset = df.groupby(['Handset Manufacturer'] )['Handset Type'].value_counts()
top_handset.loc[['Apple','Samsung','Huawei']].sort_values(ascending=False).head(20)
#top_top.groupby(['Handset Manufacturer']).head() ///,'Samsung','Huawei'

Handset Manufacturer  Handset Type
Huawei                Huawei B528S-23A                     19752
Apple                 Apple iPhone 6S (A1688)               9401
                      Apple iPhone 6 (A1586)                9004
                      Apple iPhone 7 (A1778)                6301
                      Apple iPhone Se (A1723)               5176
                      Apple iPhone 8 (A1905)                4985
                      Apple iPhone Xr (A2105)               4562
Samsung               Samsung Galaxy S8 (Sm-G950F)          4504
Apple                 Apple iPhone X (A1901)                3809
Samsung               Samsung Galaxy A5 Sm-A520F            3716
                      Samsung Galaxy J5 (Sm-J530)           3689
                      Samsung Galaxy J3 (Sm-J330)           3476
                      Samsung Galaxy S7 (Sm-G930X)          3194
Apple                 Apple iPhone 8 Plus (A1897)           3015
Samsung               Samsung Galaxy A8 (2018)              2586
Apple                 Apple iPhone 6S Plus (A1687)          2178
Huawei                Huawei E5180                          2079
                      Huawei P20 Lite Huawei Nova 3E        2015
Samsung               Samsung Galaxy S7 Edge (Sm-G935X)     1957
                      Samsung Galaxy S9 Sm-G960F Ds         1872
Name: Handset Type, dtype: int64

In [57]:
# top 10 customers per sessions frequency 
top_session = df.groupby(['MSISDN/Number'])['Bearer Id']
top_session.count().head(10).sort_values(ascending=False)

MSISDN/Number
3.360101e+10    2
3.360101e+10    2
3.360101e+10    2
3.360101e+10    2
3.360100e+10    1
3.360100e+10    1
3.360100e+10    1
3.360101e+10    1
3.360101e+10    1
3.360102e+10    1
Name: Bearer Id, dtype: int64

In [58]:
#top 10 customers perthe duration of the session 
top_session_dur = df.groupby(['MSISDN/Number'])['Dur. (ms)']
top_session_dur.sum().head(10).sort_values(ascending=False)

MSISDN/Number
3.360101e+10    495702.0
3.360101e+10    253983.0
3.360100e+10    181230.0
3.360100e+10    134969.0
3.360101e+10    128360.0
3.360102e+10    124854.0
3.360100e+10    116720.0
3.360101e+10     86399.0
3.360101e+10     49878.0
3.360101e+10     37104.0
Name: Dur. (ms), dtype: float64

In [59]:
#top 10 customers per the sessions total traffic (download and upload (bytes))
#top 10 customers perthe duration of the session 
top_traffic = df.groupby(['MSISDN/Number'])['total DL/UL traffic']
top_traffic.sum().head(10).sort_values(ascending=False)

MSISDN/Number
3.360101e+10    1.457411e+09
3.360101e+10    9.901322e+08
3.360100e+10    8.786906e+08
3.360102e+10    7.324638e+08
3.360101e+10    6.547231e+08
3.360101e+10    6.152172e+08
3.360100e+10    5.959665e+08
3.360101e+10    4.223207e+08
3.360101e+10    3.326604e+08
3.360100e+10    1.568596e+08
Name: total DL/UL traffic, dtype: float64

In [60]:
#clustering by K-mean
cluster_data= df.groupby(['MSISDN/Number'])['Bearer Id','Dur. (ms)','total DL/UL traffic']
cluster_data1= cluster_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [61]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import sklearn
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb = LabelEncoder() 
cluster_data1['Bearer Id'] = lb.fit_transform(cluster_data1['Bearer Id'])
cluster_data1['Dur. (ms)'] = lb.fit_transform(cluster_data1['Dur. (ms)'])
cluster_data1['total DL/UL traffic'] = lb.fit_transform(cluster_data1['total DL/UL traffic'])